<template name="home">
    <div class="row">
    	{{> welcome}}
        <div class="center col-sm-12">
            {{#if submitBox}}
                {{> insertPostForm}}
            {{else}}
                {{> submitButton}}
            {{/if}}
        </div>
    </div>
    <br><br>
    <div class="row">
        {{> postList}}
    </div>
    <div class="col-md-4 col-md-offset-4">
        <a href="http://www.facebook.com/crowdart" class="btn-lg btn btn-warning" style="width: 100%;">
            More Info
        </a>
        <br><br>
    </div>
</template>