<template name="postItem">
    <div class="col-md-4">
        <div class="post" style="background: white">
            <img style="margin-top: 10px;" src="images/CrowdArtLogoSmall.png" alt="CrowdArt" />
            <h4>{{name}}</h4>
            <p>Votes: {{votes}} </p>
            <button class="btn btn-warning upvote">+1</button>
            <button class="btn btn-warning comments" style="position: absolute; right:10px;">comments
                {{#if showComment}}
                    <i class="fa fa-angle-up"></i>
                {{else}}
                    <i class="fa fa-angle-down"></i>
                {{/if}}
            </button>
            {{#if showComment}}
            <br><br>
            <div style="position: relative; overflow-y: scroll; max-height:500px; border:1px solid #faa21e; background:white; padding: 10px;">
                <button 
                style="color:#faa21e; background: white; position: absolute;
                right:0px; top: 0px; border-left: 2px solid #faa21e; 
                border-bottom: 2px solid #faa21e; border-style: none none solid solid;
                " 
                class="new_comment">
                    <i class="fa fa-plus"></i>
                </button>
                {{#each comments}}
                    {{> comment}}
                    <br>
                {{/each}}
                <br><br><br>
                {{#if showSubmit}}
                    <form id="comment" class="form-horizontal">
                        <div>
                            {{#if commentName}}
                                <input id="submitName" name="name" placeholder="Name" value = "{{commentName}}">
                            {{else}}
                                <input id="submitName" name="name" placeholder="Name">   
                            {{/if}}
                            <input id="submitComment" name="comment" placeholder="Comment">
                            <button id="commentButton" class="btn btn-warning">Comment</button>
                        </div>
                    </form>
                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
</template>